{% extends 'admin/templates/dashboard.html' %}

{% block top %}

{% endblock %}


{% block main %}

{% macro form(label="", type="", name="", id="") -%}
<form action="/sign_up">
      <div class="form-group">
        <label> {{ label }} </label>
        <input class="form-control"  type="{{ type }}"  name="{{ name }}" id= "{{ id }}" >
  </div>
        <button class= 'btn-primary'> submit</button>

</form>

{%- endmacro %}


<div class="container">
</div>
    <div class="col">
        <div class="col">
            {{ form(label='email', type='text', name= 'username', id= 'username') }}
            {{ form(label='age', type='number', name= 'age', id= 'age') }}
            {{ form(label='password', type='text', name= 'password', id= 'password') }}
        </div>
-    </div>


{% endblock %}